@{
	ViewData["Title"] = "Home";
}

<div class="text-center text-light">
	<h1 class="display-4 mt-5"> <i class="bi bi-person-vcard"></i> Agenda <span class="fw-bold"> Médica</span></h1>
	<p>Learn about <a href="">building Web apps with ASP.NET Core</a>.</p>

	<p class="lead mt-3"> Sua solução completa para agendamento de consultas médicas! </p>



	<a class=" btn btn-outline-light btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
</div>