@{
	ViewData["Title"] = "Home";
}

<div class="text-center text-light pt-3">
    <h1 class="display-4 mt-5"><i class="bi bi-person-vcard"></i> Agenda <span class="fw-bold">Médica</span></h1>

    <p class="lead mt-3">Sua solução completa para agendamento de consultas médicas!</p>

    <a class="btn btn-outline-light btn-lg mt-5 w-25" asp-controller="Agendas" asp-action="Create">Agende sua Consulta</a>

</div>
